* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
body {
    font-family: 'Cuprum', sans-serif;
    background: rgb(167, 196, 175);
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 700px;
}
h1 {
    font-size: 40px;

    margin-top: 40px;
}
.right{
    padding-top: 5px;
    color: black;
    background-color: rgba(0, 200, 0, 0.5);
    border-radius: 5px;
    padding-left:5px;
}
.wrong {
    padding-top: 5px;
    background-color: rgb(255, 44, 55);
    border-radius: 5px;
}
.hidden{
    display: none;
}

.opend{
    background-color: skyblue;
}
input, button{
    cursor: pointer;
}
h2 {
    margin: 0;
    font-size: 40px;
}

.quetion {
    margin-top: 50px;
    border-bottom: 5px solid rgb(255, 255, 255);
    font-size: 25px;
}
span {
    margin-left: 5px;
}

.button1 {
    width: 700px;
    font-size: 15px;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
}
.button2 {
    font-size: 15px;
    border-radius: 5px;
    background:rgb(148, 201, 214);
    width: 700px;
    height: 25px;
    font-weight: bold;
}
.button3 {
    font-size: 15px;
    border-radius: 5px;
    background: darkcyan;
    width: 700px;
    height: 25px;
    font-weight: bold;
}

.right_div, .wrong {

    width: 700px;
    text-align: center;
}
p {
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    font-size: 25px;
}


